html {
     font-size: 62.5%;
}

body {
    font-size: 1.6em;
}
#sendDate{
    border-radius:0.8em;
    -moz-border-radius:0.8em;
    -webkit-border-radius:0.8em;
    -ms-border-radius:0.8em;
    -o-border-radius:0.8em; 
 width:40%;
 background-color:rgb(251, 242, 231);
}
input[type="text"] {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
}