main {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    
}

#asideLeft {

    justify-content: flex-start;
    background-color: #FFDDCC;
    width: 25%;
}

#asideLeft ul {
    list-style: none;

    padding: 1px;
}

#asideRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFDDCC;
    width: 25%;

}

#section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:lightgreen ;
    width: 50%;
}


article {
   width: 31%; 
   border: 1px;
   border-style: solid;
    

}

#article {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}






footer {
    text-align: center;
}
a { 
    border: 1px;
    border-style: solid;
    margin:10px;
gap: 1rem;}