body{

    font-size: 62.5%;

display: grid;
grid-template:100px / 100px;
}



html{

    font-size: 1.6em;

}
section{display: grid;

     border: 1px;
        border-style: solid;
    border-color: black;
    background-color: aqua;}
