html{

    font-size: 1.6em;
    font-size: 62.5%;

}

body
{margin : 0px;
 padding: 0px;
    display: grid;
 grid-template-columns: repeat(6,1fr) ;
 grid-template-rows: repeat(4,1fr);
 grid-gap: 20px;


}


.box
{
 background: #333;
 color: #fff;
 padding: 20px;
}

.menu {
    grid-column: 2/7;
   
}
.logo {
    grid-column:1/2;
}

.fil {
    grid-column: 1/7;
    grid-row : 2/3;
  }

.main {
    grid-column:1/5;
    grid-row:3/5;
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}  
 .sidebar {grid-column: 5/7;
            grid-row: 3/5;}

.footer {grid-column: 1/7;}